
/** element styles **/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: #dddddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex; 
    flex-direction: column; 
    height: 100vh;
}

a {
    text-decoration: none;
}   

nav a, footer a {
    color: #dddddd;
}

nav {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    gap: 1vw;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000000;
}

ul {
    padding-left: 1vw;
}

ul > li {
    padding-top: 0.5vh;
    padding-left: 1vw;
}

footer {
    gap: 1vw;
    width: 100%;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background-color: black;
    margin-top:auto;
}

footer img {
    height: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

h1 {
    display: block;
    font-weight: 800;
    font-size: xx-large;
    color: #E50914;
    text-shadow: 0 0 10px rgb(142, 142, 142);
}

h2 {
    display: block;
    font-weight: 600;
    font-size: x-large;
    color: #ffffff;
    text-shadow: 0 0 6px rgb(142, 142, 142);
}

h3 {
    display: block;
    font-weight: 400;
    font-size: large;
    color: #313131;
    margin-bottom: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #313131;
}

td, th {
    border-bottom: 1px solid #313131;
    text-align: left;
    padding: 8px;
}

td > a > img {
    height: 12vh;
}

tr:last-child {
    border-bottom: 0px;
}

button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #313131;
    text-shadow: 0 0 10px rgb(142, 142, 142);
}

label, input, select {
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 100%;
}

input, select {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 0.5vh;
    padding-top: 0.5vh;
}

/** quick style classes **/
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.center-content {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.stretch-content {
    justify-content: space-around;
}

.gap-2vh {
    gap: 2vh;
}

.font-size-huge {
    font-size: 10vh;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.nav-item:hover {
    background-color: #313131;
    text-shadow: 0 0 10px rgb(142, 142, 142);
}

.padding-10vw {
    padding-left: 10vw;
    padding-right: 10vw;
}

.padding-2vw {
    padding: 2vw;
}

/** specific styles **/
.details-body {
    background-image: url("../img/wallpaper_skyfall.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.details-body > div.flex-row {
    justify-content: stretch;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 2vh;
}

.details-body img {
    max-height: 60vh;
}

.details-body img::after {
    box-shadow: inset 3px 3px 10px 0 #000000;
    content: '';
}

.filter-menu {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.filter-menu input, .filter-menu select {
    max-width: 16vw;
}

.highlighted-movie {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 5vw;
    color: #313131;
}

.highlighted-movie > div, .highlighted-movie > div > img {
    width: 36vw;
}

.header {
    justify-content: center;
    align-content: center;
    background-image: url("../img/wallpaper_skyfall.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header p {
    color: #dddddd;
}

.privacy-body {
    justify-content: left;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    color: #313131;
}



.about-body {
    justify-content: left;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.about-body > div {
    width: 50%;
    color: #313131;
}



form #message {
    height: 16vh;
}

.movie-details {
    padding-left: 10vw;
    padding-right: 10vw;
}

.movie-details > div > h2 {
    color: pink;
}

.movie-details > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}

.movie-details > div > div > img {
    height: 50vh;
    width: 20vw
}

.movie-details > div > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vw;
}

.text-center {
    text-align: center;
}



input[type="textarea"] {
    height: 16vh;
    text-align: left;
    padding-top: 1vh; 
    padding-bottom: 12.5vh;
}




.signin {
    justify-content: center;
    padding-top: 25vh;
}

.signup {
    justify-content: center;
    padding-top: 25vh;
}

.player-body {
    background-color: #000000;
}

.player {
    justify-content: center;
}

.player video {
    height: fit-content;
}

